/Assigment_Java2_dungndmph10198/nbproject/private/
/MiniTestDay5/nbproject/private/
/lab4/nbproject/private/
/slide4/nbproject/private/
/slide5/nbproject/private/
/Assigment_Java2_dungndmph10198/build/
/lab2/target/
/lab3/target/
/lab4/build/
/MiniTestDay5/build/
/slideBai1/target/
/slide2/target/
/slide3/target/
/slide4/build/
/slide5/build/
/trainieOI/nbproject/private/
/y/
/trainieOI/build/
